@import 'tailwindcss';

@keyframes shrink {
  from { transform: scaleX(1); }
  to   { transform: scaleX(0); }
}

.animate-shrink {
  animation: shrink linear forwards;
}

/* Pausa la barra de progreso visualmente al hacer hover */
.group:hover .animate-shrink {
  animation-play-state: paused;
}
